{% extends 'base.html' %}
{% load email_subscription_tag %}
{% load banner_post %}
{% load static %}
{% load sidebar %}

{% block title %}{{ title }} :: {{ block.super }} {% endblock %}

{% block content %}

{% show_most_commented_posts %}

{% get_email_subscription_form_for_posts %}

<section class="all_post section_padding">
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            {% if page_obj.number == 1 %}
                {% if big_post %}
                    <div class="single_post post_1 feature_post">
                        <div class="single_post_img">
                            {% if big_post.photo %}
                            <img src="{{ big_post.photo.url }}" alt="{{ big_post.title }}" width="750" height="500">
                            {% else %}
                            <img src="https://img.freepik.com/free-photo/gloomy-landscape-of-mountain-lake_1398-2294.jpg?size=300&ext=jpg"
                             alt="{{ big_post.title }}">
                            {% endif %}
                        </div>

                        <div class="single_post_text text-center">
                            <a href="{{ big_post.category.get_absolute_url }}">  <h5> {{ big_post.category }}</h5></a>
                            <a href="{{ big_post.get_absolute_url }}"> <h2>{{ big_post.title }}</h2></a>
                            <p>{{ big_post.created_at|date:"d E Y" }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% for post in other_posts %}
                <div class="single_post post_1">
                    <div class="single_post_img">
                                {% if post.photo %}
                                <img src="{{ post.photo.url }}" alt="{{ post.title }}" width="468" height="304">
                                {% else %}
                                <img src="https://img.freepik.com/free-photo/gloomy-landscape-of-mountain-lake_1398-2294.jpg?size=300&ext=jpg"
                                 alt="{{ post.title }}">
                                {% endif %}

                            </div>

                            <div class="single_post_text text-center">
                              <a href="{{ post.category.get_absolute_url }}">  <h5>{{ post.category }}</h5></a>
                              <a href="{{ post.get_absolute_url }}"> <h2>{{ post.title }}</h2></a>
                                <p>{{ post.created_at|date:"d E Y" }}</p>
                            </div>
                    </div>
            {% endfor %}


            <div class="page_pageniation">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                        <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>

                    {% for p in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == p %}active{% endif %}">
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endfor %}

                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                        <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">Next</a>
                    </li>

                </ul>
            </nav>
            </div>

        </div>

            <div class="col-lg-4">
                <div class="sidebar_widget">

                    <div class="single_sidebar_wiget search_form_widget" style="margin-left: 20px;">
                        <form id="form-search" action="{% url 'search' %}">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder='Search Keyword'
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'" name="search">
                                <div class="btn_1" onclick="document.getElementById('form-search').submit();">search</div>
                            </div>
                        </form>
                    </div>

                    {% show_category_menu %}

                    {% get_popular_posts %}

                </div>
            </div>

        </div>
    </div>



</section>

{% endblock %}
