{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %}{{ title }} :: {{ block.super }} {% endblock %}

{% block content %}
    <section class="blog_area single-post-area all_post section_padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 posts-list">

                    <div class="single-post">

                        <div class="blog_details">
                        <h1><strong>{{ post.title }}</strong></h1>
                            <ul class="blog-info-link mt-3 mb-4">
                                <li><a href="{{ post.category.get_absolute_url }}"><i
                                        class="far fa-user"></i>{{ post.category }}</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                                <li><a><i class="far fa-views"></i>Views: {{ post.views }}</a></li>
                            </ul>
                        </div>

                        <div class="feature-img">
                            {% if post.photo %}
                                <img src="{{ post.photo.url }}" alt="{{ post.title }}" width="600" height="400">
                            {% else %}
                                <img src="https://img.freepik.com/free-photo/gloomy-landscape-of-mountain-lake_1398-2294.jpg?size=300&ext=jpg"
                                     alt="{{ post.title }}">
                            {% endif %}
                        </div>
                        <div class="blog_details">
                            <p class="excert">
                                {{ post.content|safe }}
                            </p>
                            <ul class="blog-info-link mt-3 mb-4">
                                {% for tag in post.tags.all %}
                                    <li><a href="{{ tag.get_absolute_url }}"><i class="far fa-tags"></i>{{ tag.title }}
                                    </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                            <div class="col-sm-4 text-center my-2 my-sm-0">
                            </div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    {% if post.author %}
                        {% include "blog/author.html" %}
                    {% endif %}

                    <div class="comments-area">
                        <h4>{{ comments_total }} Comments</h4>
                        {% include "comments/comment_list.html"%}
                    </div>

                    {% if request.user.is_authenticated %}
                      {% include "comments/comment_form.html" %}
                    {% endif %}

                </div>

                <div class="col-lg-4">
                    <div class="sidebar_widget">

                        {% show_category_menu %}

                        {% get_popular_posts %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


