{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="outer-container">
    <div class="profile-container">
      <div class="profile-header">
        <h2>Edit Profile</h2>
      </div>
      <div class="card border-0">
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-sm btn-edit-profile">Сохранить изменения</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

